* {
	margin: 2px;
	font-family: "Arial";
	scrollbar-width: auto;
	scrollbar-color: #09ff09 #333;
}
*::-webkit-scrollbar {
	width: 16px;
	height: 16px;
}
*::-webkit-scrollbar-track {
	background: #111;
}

*::-webkit-scrollbar-thumb {
	background-color: #222;
	border-radius: 0px;
	border: 1px solid #09ff09;
}
html {
	scroll-behavior: smooth;
	scrollbar-gutter: stable;
}
body {
	height: 94%;
	color: #eee;
	background-color: #000;
}
.smoltxt {
	color: #888;
	font-size: 1.2vh;
	float: left;
}
@media (max-width: 600px) and (max-height: 600px) {
	body {
		font-size: 1.2vh;
	}
}
@media (min-width: 600px) and (min-height: 600px) {
	body {
		font-size: 1.4vh;
	}
}
img {
	opacity: 1.0;
}
a {
	color: #999;
}
button {
	background-color: #000;
	border: 1px solid #141;
	color: #eee;
	display: inline-block;
	min-height: 2em;
	width: 100%;
	padding: 0px;
	margin: 0px;
	font-size: 1em;
}
a:hover, a:active, button:hover, button:active {
	color: #09ff09;
	transition-property: color;
	transition-duration: 0.5s;
	transition-timing-function: ease-in;
}
a:hover, a:active, button:hover,button:active {
	background-color: #077707;
	transition-property: background-color;
	transition-duration: 0.5s;
	transition-timing-function: linear;
}
input[type=text], input[type=password], textarea {
	background-color: #333;
	color: #eee;
	font-size: 1em;
	padding: 4px 12px;
	height: 1.2em;
	min-width: 12vw;
}
input[type=text]:disabled, input[type=password]:disabled, input[type=textarea]:disabled {
	background-color: #111;
	color: #aaa;
}
input[type=checkbox] {
	appearance: none;
	border-radius: 4px;
	border: 2px solid #ccc;
	cursor: pointer;
	height: 18px;
	width: 18px;
	content: "";
	background-color: #222;
	color: #ccc;
}
input[type=checkbox]:checked {
	background: conic-gradient(#fff 0.25turn, #000 0.25turn 0.5turn, #fff 0.5turn 0.75turn, #000 0.75turn) top left / 25% 25% repeat;
	border: 2px solid #ccc;
}
