{% include "header.html" %}
	<title>joelbondurant.com</title>
</head>
<body>
	<div id="backstuff" style="display: flex; flex-direction: column; min-height: 100vh;">
		<img src="static/img/joel.jpg" alt="Joel Bondurant" style="width: 16vh; height: auto; display: block; margin: auto; clip-path: circle(); border: max(0.8vw,0.8vw); border-radius: 16vh; border-style: double; border-color: #096909;">
		<hr/>
		<br/>
		<ul>
			<li><a href="/resume">Resume</a></li>
			<li><a href="https://github.com/JoelBondurant">GitHub</a></li>
			<li><a href="/photos">Photos</a></li>
		</ul>
		<br/>
		<div style="flex-grow: 1;"></div>
		<br/>
		<hr/>
		<div id="bitcoin_info" class="smoltxt">Bitcoin:</div>
		<div class="smoltxt">Hit Count: {{ hit_count }}</div>
		<div class="smoltxt">IP Address: {{ ip_address }}</div>
		<div id="geo_info" class="smoltxt">Latitude, Longitude:</div>
		<br/>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js" integrity="sha512-334uBDwY0iZ2TklV1OtDtBW9vp7jjP7SWRzT7Ehu1fdtPIjTpCwTSFb8HI/YBau9L1/kRBEOALrS229Kry4yFQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vanta/0.5.24/vanta.waves.min.js" integrity="sha512-gqHa0ICeg1WCe5rOOlxMjC1lXvXN3350qWwbePm2HV/pu2Qas+Nswuc+Eb62NZ/JOpMmOhZk4Chaak3twaBRRQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script>
		VANTA.WAVES({
			el: '#backstuff',
			mouseControls: true,
			touchControls: true,
			gyroControls: false,
			minHeight: 40.00,
			minWidth: 40.00,
			scale: 1.00,
			scaleMobile: 1.00,
			color: 0x0,
			shininess: 40.00,
			waveSpeed: 1.0,
			zoom: 0.90
		});
	</script>
	<script>
		let priorsIndex = 0;
		const priors = [];
		function showBitcoinPrice(price) {
			if (isNaN(price)) {
				return;
			}
			priors[priorsIndex] = price;
			priorsIndex += 1;
			priorsIndex %= 64;
			const priorAvg = priors.map((x,y,z)=>x/z.length).reduce((x,y)=>x+y);
			let msg = '<span style="color: #f7931a;">Bitcoin: </span>'
			const gap = price/1000;
			if (price > priorAvg + gap) {
				msg += '<span style="color: #0f0;">'
			} else if (price < priorAvg - gap) {
				msg += '<span style="color: #f00;">'
			} else {
				msg += '<span>'
			}
			msg += Intl.NumberFormat('en-US', {'currency': 'USD', 'style': 'currency'}).format(price);
			msg += '</span>'
			document.getElementById('bitcoin_info').innerHTML = msg;
		}
		async function streamBitcoinPrice() {
			const ws = new WebSocket('wss://ws.bitstamp.net');
			ws.onmessage = (resp) => {
				const evt = JSON.parse(resp.data);
				if (evt['event'] == 'bts:request_reconnect') {
					streamBitcoinPrice();
					return;
				}
				const price = parseFloat(JSON.stringify(evt['data']['price']));
				showBitcoinPrice(price);
			}
			ws.onclose = () => {
				console.log('Bitcoin price socket closed.')
				streamBitcoinPrice();
			}
			ws.onopen = async () => {
				const subMsg = {'event': 'bts:subscribe', 'data': {'channel': 'live_trades_btcusd'}};
				ws.send(JSON.stringify(subMsg));
			}
			return ws;
		}
		async function pollBitcoinPrice() {
			const spotUrl = 'https://api.coinbase.com/v2/prices/spot?currency=USD';
			const price = parseFloat((await (await fetch(spotUrl)).json()).data.amount);
			showBitcoinPrice(price);
			setTimeout(pollBitcoinPrice, 2*60*1000);
		}
		pollBitcoinPrice(); // 200ms latency
		streamBitcoinPrice(); // 2000ms latency
	</script>
	<script>
		function showGeo(position) {
			const geoInfo = 'Latitude, Longitude: (' + position.coords.latitude + ', ' + position.coords.longitude + ')';
			document.getElementById('geo_info').innerHTML = geoInfo;
		}
		function geoMe() {
			/* FOR DISPLAY ONLY */
			if (navigator.geolocation) {
				navigator.geolocation.getCurrentPosition(showGeo, x=>console.log(x), {'enableHighAccuracy': true});
				navigator.geolocation.watchPosition(showGeo, x=>console.log(x), {'enableHighAccuracy': true});
			}
		}
		geoMe();
	</script>
</body>
</html>
